<p>Hi,</p>

<p>Click the link below to sign in to your account:</p>

<p><%= link_to "Sign in", passwordless_sessions_url(locale: @locale, sid: @signed_id) %></p>

<p>This link expires in 1 hour and can only be used once.</p>

<p>If you didn't request this link, you can safely ignore this email.</p>
